
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Collection of talks for learning Python.">
  <meta name="keywords" content="Python,Django,Flask,tutorial,screencast,video,talk">
  <meta name="author" content="Developer">
  <title>
    Python Talks
</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body data-page-title="Talks">
  <nav>
    <div class="container">
      <ul>
        <li class="name">
          <h1>
            <a href="/">
            <i class="foundicon-glasses"></i> Python<span class="light">Talks</span>
          </a>
      </h1>
  </li>
</ul>
<ul class="right">
    <li>
      <a href="https://twitter.com/thepsf">
        @thepsf
    </a>
</li>
</ul>
</div>
</nav>
<ul class="tabs">
    <div class="container">
      <li ><a href="/">Talks</a></li>
      <li ><a href="/about">About</a></li>
  </div>
</ul>
<section>
    <div class="container">
      <ul>
        <h2>March 2016</h2>
        <li id="talk-" class="thumbnail_enabled">
            <div class="thumbnail default"></div>
            <h5>
                <a href="https://vimeo.com/162329769">
                  Introduction to ember-concurrency
              </a>
              <span class="event-name">
                  Ember Global Meetup
              </span>
              <a target="_blank" href="https://vimeo.com/162329769"><img src="images/link-new-tab.png" style="vertical-align: bottom"></a>
          </h5>
          <div class="metadata">
              <a href="http://alexmatchneer.com/">Alex Matchneer</a>
              &middot; Sat 19 Mar 2016 &middot;
              <a class="video-link" href="https://vimeo.com/162329769">Video</a>
              &middot;
              Slides
              &middot; <a href="https://vimeo.com/globalembermeetup">Details</a>
          </div>
      </li>

      <li id="talk-" class="thumbnail_enabled">
        <div class="thumbnail default"></div>
        <h5>
            <a href="https://vimeo.com/162631962">
              DDAU with ember-simple-form and ember-with-service
          </a>
          <span class="event-name">
              Ember Global Meetup
          </span>
          <a target="_blank" href="https://vimeo.com/162631962"><img src="images/link-new-tab.png" style="vertical-align: bottom"></a>
      </h5>
      <div class="metadata">
          Ryan Tablada
          &middot; Sat 19 Mar 2016 &middot;
          <a class="video-link" href="https://vimeo.com/162631962">Video</a>
          &middot;
          Slides
          &middot; <a href="https://vimeo.com/globalembermeetup">Details</a>
      </div>
  </li>
  <h2>February 2016</h2>
  <li id="talk-" class="thumbnail_enabled">
    <div class="thumbnail default"></div>
    <h5>
        <a href="https://vimeo.com/159309998">
          Leveling Up Your Forms
      </a>
      <span class="event-name">
          Ember Global Meetup
      </span>
      <a target="_blank" href="https://vimeo.com/159309998"><img src="images/link-new-tab.png" style="vertical-align: bottom"></a>
  </h5>
  <div class="metadata">
      Todd Jordan
      &middot; Mon 29 Feb 2016 &middot;
      <a class="video-link" href="https://vimeo.com/159309998">Video</a>
      &middot;
      Slides
      &middot; <a href="https://vimeo.com/globalembermeetup">Details</a>
  </div>
</li>
</ul>
</div>
</section>
<footer>
  <div class="container">
    <p>Find more about <a href="/about">about</a> to Python Talks!</p>
</div>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
